n8n/workflows/whatsapp-receive.json
{
  "name": "whatsapp-receive",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-receive",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-001",
      "name": "Recibir WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "whatsapp-receive-webhook-id"
    },
    {
      "parameters": {
        "jsCode": "// Twilio envía los datos del mensaje como campos de un formulario POST.\n// Extraemos los tres campos que necesitamos:\n//   From: número de quien envía, con prefijo 'whatsapp:' (ej: 'whatsapp:+34612345678')\n//   Body: texto del mensaje\n//   MessageSid: ID único que Twilio asigna a este mensaje\n\nconst from = $input.item.json['From'] || '';\nconst phone = from.replace('whatsapp:', '').trim();\nconst messageBody = $input.item.json['Body'] || '';\nconst messageSid = $input.item.json['MessageSid'] || '';\n\n// Pasamos los datos al siguiente nodo en el formato que Supabase espera\nreturn [\n  {\n    json: {\n      phone,\n      message_body: messageBody,\n      message_sid: messageSid,\n      received_at: new Date().toISOString()\n    }\n  }\n];"
      },
      "id": "node-code-002",
      "name": "Parsear datos Twilio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ direction: 'inbound', body: $json.message_body, twilio_sid: $json.message_sid, created_at: $json.received_at }) }}",
        "options": {}
      },
      "id": "node-http-003",
      "name": "Guardar mensaje en Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response><Message>Hola, hemos recibido tu mensaje. En breve nos ponemos en contacto contigo.</Message></Response>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "id": "node-respond-004",
      "name": "Responder a Twilio",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Recibir WhatsApp": {
      "main": [
        [
          {
            "node": "Parsear datos Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear datos Twilio": {
      "main": [
        [
          {
            "node": "Guardar mensaje en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar mensaje en Supabase": {
      "main": [
        [
          {
            "node": "Responder a Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "whatsapp-receive-v1",
  "meta": {
    "instanceId": "local"
  },
  "id": "whatsapp-receive",
  "tags": []
}
